<!DOCTYPE html>
<html>
{{> headers/header-main }}
<body>
{{> navigation/navigation }}
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
{{{body}}}
{{> sidebars/user-search-sb }}
{{> sidebars/clinic-chat-sb }}
{{> sidebars/patient-search-sb }}
{{> sidebars/appointment-types-sb }}
{{> sidebars/users-sb }}
{{> modals/alert }}
{{> modals/context-menu }}
{{> modals/edit-appointment }}
{{> modals/edit-appointment-template }}
<div id="root"></div>
{{> footers/footer-main }}
</body>
{{#if user}}
    <script>
        const loggedInUser = {
            _id: '{{user._id}}',
            username: '{{user.username}}',
            isAdmin: {{user.isAdmin}},
            providerNo: '{{user.providerNo}}',
            isProvider: {{user.isProvider}}
        };
    </script>
{{/if}}
{{> jsincludes/js-vendors}}
{{> jsincludes/js-popovers-tooltips}}
{{> jsincludes/js-app}}
</html>
